{% extends 'Backend/layout.html.twig' %}
{% block mainContent %}
    {% set alertTypeAvaillable = [ 'info', 'success', 'warning', 'error'] %}
    {% for alert in alertTypeAvaillable %}
        {% for message in app.session.getFlashBag.get(alert) %}
            <div class="alert alert-{{ alert }}" >
                <button class="close" data-dismiss="alert">×</button>
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}
    <a href="{{ path('showArticle', {'slug': form.vars.value.slug}) }}"  class="btn btn-info pull-right" target="_blank">View Article</a>
    <h1>{{ title }}</h1>
    <form role="form" {{ form_enctype(form) }} method="post" id="article-form">
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_errors(form.title) }}
            {{ form_widget(form.title) }}
        </div>
        <div class="form-group">
            {{ form_label(form.text) }}
            {{ form_errors(form.text) }}
            {{ form_widget(form.text) }}
        </div>
        <div class="form-group">
            {{ form_label(form.tags) }}
            {{ form_errors(form.tags) }}
            {{ form_widget(form.tags) }}
        </div>
        <div class="form-group">
            {{ form_label(form.publish) }}
            {{ form_errors(form.publish) }}
            {{ form_widget(form.publish) }}
        </div>
        <div class="form-group">
            {{ form_label(form.file) }}
            {{ form_errors(form.file) }}
            {{ form_widget(form.file) }}
            {% if form.vars.value.image|default('null') != 'null' %}
                {{ image(form.vars.value.image, 'articleMainImage') }}
            {% endif %}
        </div>
        {{ form_rest(form) }}
        {{ form_row(form.save) }}
    </form>

{% endblock %}
{% block pagination %}
{% endblock pagination %}
{% block javascripts %}
    {{ parent() }}
    {#<script>#}
        {#CKEDITOR.replace( 'article_text', {#}
            {#allowedContent: true,#}
            {#filebrowserBrowseUrl : '/elfinder.html?v=4566',#}
            {#extraPlugins: 'highlight_js,oembed,wpmore,ckimagepaste',#}
            {#toolbar: [#}
                {#[ 'Source'],#}
                {#[ 'Bold', 'Italic', 'Underline', 'StrikeThrough', '-', 'RemoveFormat' ],#}
                {#[ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'Justify' ],#}
                {#[ 'Link', 'Unlink', 'Anchor', '-', 'Highlight', '-', 'oembed' ],#}
                {#[ 'Image', 'Table' ],#}
                {#[ 'WPMore' ]#}
            {#],#}
            {#height: '350px'#}
        {#});#}
    {#</script>#}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#article_tags").tagit({
                availableTags: [{{ allTags()|raw }}],
                allowSpaces: true
            });
        });
    </script>
{% endblock %}
