{% for article in articles %}
    <article xmlns="http://www.w3.org/1999/html">
        <h3><a href="{{ path('showArticle', {'slug': article.slug}) }}">{{ article.title }}</a></h3>
        <h6>
            <span class="glyphicon glyphicon-calendar"></span>{{ article.createdAt|date('d/m/Y') }} |
            <span class="glyphicon glyphicon-comment"></span><a href="{{ path('showArticle', {'slug': article.slug}) }}#comments" style="margin-left: 5px">{{ commentsCount(url('showArticle', {'slug': article.slug})) }} коментариев</a>
            {% include 'articleTags.html.twig' with {'tags': article.tags} %}
        </h6>
        {#{{ article.text|withoutMore|raw }}#}

    </article>
    <div class="clearfix"></div>
{% endfor %}
<div class="showMore"></div>
