{% extends 'layout.html.twig' %}
{% block styles %}
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
{% endblock %}
{% block container %}

    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form class="form-signin" role="form" action="{{ path('admin_login_check') }}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        {{ form_widget(form.username) }}
        {{ form_widget(form.password) }}
        {{ form_widget(form.login) }}
    </form>
{% endblock container %}
